* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.m-h {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

form {
    width: 30vw;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: 2px solid black;
    border-radius: 18px;
}

label {
    margin: 8px;
}

input {
    margin: auto;
    padding: 12px 5px;
    width: 90%;
    border-radius: 5px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 18px 15px;
    width: 50%;
    font-weight: 700;
    background: #000000;
    color: rgb(255, 255, 255);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 20px;
    cursor: pointer;
    padding: 10px 2px;

}

button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.result {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 15px auto;
    gap: 15px;
}

.r-h {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

@media (max-width: 600px) {
    form {
        width: 75%;
    }

    input {
        width: 95%;
    }

    #change {
        font-size: 1.5rem !important;
    }
}